@page "/debug"
@using Microsoft.AspNetCore.Identity
@inject RoleManager<IdentityRole> RoleManager;
<h3>DebugPage</h3>
<button @onclick="@Run">Create roles</button>
@code {
    //TODO: DELETE THIS

    public async Task Run()
    {
        await RoleManager.CreateAsync(new IdentityRole { Name = "Admin" });
        await RoleManager.CreateAsync(new IdentityRole { Name = "Owner" });
        await RoleManager.CreateAsync(new IdentityRole { Name = "Staff" });
    }
}
