@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Потвърждение за промяна на парола";
}

<h1>@ViewData["Title"]</h1>
<p>
    Паролата Ви беше обновена. Моля, <a asp-page="./Login">натиснете тук, за да влезете.</a>.
</p>
