<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Resaplace</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Начало
            </NavLink>
        </div>
        @*User*@
        <AuthorizeView>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="myreservations">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Моите резервации
                </NavLink>
            </div>
        </AuthorizeView>

        @*Restaurant Owner*@
        <AuthorizeView Roles="Owner">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="newrestaurant">
                    <span class="oi oi-plus" aria-hidden="true"></span> Нов Ресторант
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="myrestaurantapplications">
                    <span class="oi oi-clipboard" aria-hidden="true"></span> Моите Заявки
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="myrestaurants">
                    <span class="oi oi-spreadsheet" aria-hidden="true"></span> Моите Ресторанти
                </NavLink>
            </div>
        </AuthorizeView>

        @*Admin*@
        <AuthorizeView>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="restaurantapplications">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Заявки - Ресторанти
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="restaurants">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Всички Ресторанти
                </NavLink>
            </div>
        </AuthorizeView>

        @*Staff*@
        <AuthorizeView Roles="Staff">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="dashboard">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Ресторанти
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
