@page "/{Id:int}"
@if (CurrentRestaurant != null)
{
    <h3>@CurrentRestaurant.Name</h3>

    <div class="container">

        <div class="row">
            @foreach (var image in CurrentRestaurant.Images)
            {

                <div class="col-sm-4">
                    <img height="220" src="/images/@image.ImagePath" alt="@image.AltText" />
                </div>
            }
        </div>
        <div>
            <p>
                @CurrentRestaurant.Description
            </p>
        </div>

    </div>
}